*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
video{
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
}
.glass{
  height: 100vh;
}


.glass{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tilted-card {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


Form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 20px !important;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0,0.1);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.165);
  color: white !important;
}
.ant-form-item{
  width: 100% !important;
  margin: 13px 0;
}

#bt{
  width: 100%;
}
.ant-form-item-control-input-content{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100% !important;
}