.flex_dashboard_header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.student{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 8px -1px rgba(34, 60, 80, 0.192);
  padding: 20px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
}
.student .text_st_dashboard h2{
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
.text_st_dashboard span{
  font-size: 10px;
}
.recharts-responsive-container{
  height: 390px !important;
  width: 100% !important;
}